<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNG Parameters Suite">
    <listeners>
        <listener class-name = "QKART_TESTNG.ListenerClass"></listener>
    </listeners>
   <test name="Params">
   <groups>
            <run>
              <include name = "Sanity_test"></include>
              <include name = "Regression_Test"></include>
            </run>
        </groups>
      <parameter name="userName" value="testUser" />
      <parameter name="password" value="abc@123" />
      <parameter name="productToSerach1" value="YONEX Smash Badminton Racquet" />
      <parameter name="productToSerach2" value="Tan Leatherette Weekender Duffle" />
      <parameter name="productToSerach3" value="Xtend Smart Watch" />
      <parameter name="productToSerach4" value="Yarine Floor Lamp" />
      <parameter name="productToSerach5" value="Stylecon 9 Seater RHS Sofa Set " />
      <parameter name="address" value="Addr line 1 addr Line 2 addr line 3" />
      <parameter name="quantity" value="10" />
      <!-- <classes>
         <class name="java.QKART_Tests" />
      </classes> -->
      <packages>
            <package name="QKART_TESTNG"></package>
        </packages>
   </test>
</suite>